In [1]:
PATH = "/home/neo/scripts/chn@git/NetworkPlot" # <-- optional if running from native path

In [2]:
import importlib.util, os

if not os.path.isdir(PATH):
    PATH = os.getcwd()
PATH = os.path.realpath(PATH)

spec = importlib.util.spec_from_file_location("__init__", PATH+'/__init__.py')
init = importlib.util.module_from_spec(spec)
spec.loader.exec_module(init)

%matplotlib inline
%load_ext autoreload
%autoreload 2

### Import functions

In [9]:
#import metaknowledge as mk # <-- required for citation network
#import networkx as nx # <-- required for random graph
from dflib import *
from NetworkPlot import NetworkPlot
from nxlib import nx_readgraph, nx_readfile

### Load network data

Choose and import a network graph object to analyze below.

#### 1) Graph data file

Common graph file formats to be imported as a ```networkx.Graph()``` object. Accepts GDF/GEXF/GML/GraphML, among others.

In [4]:
graph_file = "/home/neo/workspace/wiki-ds/level2-ds.gexf"

G = nx_readgraph(graph_file)

### Generate network analysis

Calls NetworkPlot in order to compute centrality measures, identify modules (clusters) and render graph.

Accepted layouts: `circular`, `kamada_kawai`, `fruchterman_reingold`, `spectral`, `spring`, `forceatlas2` and `random`.

In [7]:
df=NetworkPlot(G,
            k=1,
            df=None,
            show_labels=True,
            layout='kamada_kawai',
            it=500,
            deg=True,
            clu=False,
            clo=False,
            eig=False,
            bet=False,
            bri=False,
            bro=False,
            mod=True,
            renderer='none',
            normalized=True,
            max_nodes=0,
            max_modules=0,
            plot_modules=False,
            output_folder='d2')

Loaded 18057 nodes and 38190 connections.
Filtering by k-core (k=1)...
Got 18057 nodes (100.00%).
Nodes: 18057
Edges: 38190
Density: 0.0001171339
Avg degree: 4.22994
Avg in_degree: 254.6
Avg out_degree: 2.11497
Modules: 24
Modularity: 0.71269
Finished in 19.67s.

             degree     in_degree    out_degree
count  18057.000000  18057.000000  18057.000000
mean       4.229939      2.114969      2.114969
std       34.839110     31.695104      5.452839
min        1.000000      0.000000      1.000000
25%        1.000000      0.000000      1.000000
50%        1.000000      0.000000      1.000000
75%        2.000000      0.000000      2.000000
max     1788.000000   1715.000000    115.000000

In [10]:
df_describe(df)

              degree     in_degree    out_degree
count   18057.000000  18057.000000  18057.000000
mean        4.229939      2.114969      2.114969
median      1.000000      0.000000      1.000000
std        34.839110     31.695104      5.452839
min         1.000000      0.000000      1.000000
max      1788.000000   1715.000000    115.000000
10%         1.000000      0.000000      1.000000
25%         1.000000      0.000000      1.000000
50%         1.000000      0.000000      1.000000
75%         2.000000      0.000000      2.000000
90%         3.000000      0.000000      3.000000
mad         5.467328      4.194800      1.660792
var      1213.763585   1004.579604     29.733458
cova      286.945916    474.985439     14.058577

#### Compress output â†’  `output.zip`

In [ ]:
!zip -r output.zip network/

### [Download output files](output.zip)

_____
### References

* NetworkX: https://networkx.github.io

* Datashader: http://datashader.org/

* HoloViews: http://holoviews.org/

* plotly: https://plot.ly